html, body, #container, #content{
	position: absolute;
	margin: 0px;
	font-family: Arial;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-color: white;
	overflow: hidden;
}

#landing_text_wrapper {
	font-family: 'Raleway';
	position: relative;
	top: 20%;
	left: 10%;
}

#title {
	font-size: 2.5vw;
}

#home_image {
	opacity: 0.3;
	position: absolute;
	left: 50%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.vertical_text {
	color: transparent;
    text-shadow: 0 0 8px rgba(0,0,0,0.2);
	font-family: 'Raleway';
	font-weight: 700;
	position:absolute;
	font-size: 6vw;
    left:50%;
    /*top:50%;*/
    /*padding: 1em;*/
    max-width:50%;
    max-height:90%;
    overflow-y:auto;
    transform: translate(-50%,-50%);
	transform: rotate(90deg);
	transform-origin: left top 0;
}

.vertical_text:nth-child(even) {
    left:51%;
}

#menu {
	text-decoration: underline;
}

#fullscreen_image {
	width: 100%;
	height: 100%;
	background-size: 100%;
}